.ProductTable{
	border: 1px solid #ddd;
	border-collapse: separate;
	border-left: 0px;
	border-radius: 4px;
}

.ProductTable thead tr{
	border-left: 1px solid #ddd;
}

.ProductTable th, .ProductTable td{
	border-left: 1px solid #ddd;
	text-align: center;

}

.ProductTable td{
	border-top: 1px solid #ddd;
}


.ProductTable td.color{
	width: 50px;
	padding: 1px;
}

.ProductTable td.color div{
	height: 20px;
}

.arrow{
	width: 30px;
	height: 20px;
}

.arrow_down{
	background: url("../../images/arrow_drop_down.png") no-repeat;
}

.arrow_left{
	background: url("../../images/arrow_drop_left.png") no-repeat;
}

.SubTable{
	border-top: 0px;
	border-left: 0px;
}