.filter-container{
	background-color: #fefbef;
	padding: 10px 15px;
	border: 1px solid #f68500;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	font-size: 14px;
}

.types_nav{
	list-style-type:none;
	padding: 0;
	margin: 0;
}

.types_nav li{
	float: left;
	margin-right: 10px;
}

.filter{
	margin: 10px 0;
}

.filter_types
{
	margin-right: 5px;
	float: left;
}

#loading{
	width: 280px;
	height: 130px;
	line-height: 130px;
	background: url("./../../images/product/loading.gif") no-repeat;

}

#product_content{
	margin: 10px 0;
}
