.SubMenu
{
	width: 95%;
	margin: 20px 0;
	font-size: 14px;
	font-weight: bold;
}

.SubMenu_Header
{
	margin: 0;
	border-bottom: 1px dashed #000;
	padding-left: 10px;
}

.SubMenu_active
{
	background: #fff;
}

.plus{
	margin: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #4169e1;
}

.SildeMenu_Label
{
	font-size: 15px;
	font-weight: bold;
}

.nav
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav > li
{
	line-height: 30px;
	padding-left: 25px;
	border-bottom:1px solid #c0d5df;
}

.SubMenu_Item > div
{
	margin-left: 15px;
}

.SubMenu_Item > div > a
{
	text-decoration: none
}