.bascinfo_header{
	text-align: left;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	padding-left: 10px;
}

.header{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,d2ebf9+100;Blue+3D+%2312 */
	background: #feffff; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: -webkit-linear-gradient(#feffff 0%, #d2ebf9 100%);
	background: -o-linear-gradient(#feffff 0%, #d2ebf9 100%);
	background: linear-gradient(#feffff 0%, #d2ebf9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
}

.ProductInfoTable{
	width: 100%;
	margin: 10px 0;
	border: 1px solid #ddd;
	border-collapse: separate;
	/*border-bottom: 0px;*/
	border-radius: 4px;
}


.ProductInfoTable th{
	text-align: left;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}

.ProductInfoTable thead td{
	height: 10px;
	line-height: 10px;
}

.ProductInfoTable tbody td{
	border-top: 1px solid #ddd;
	padding: 10px 0 0 5px;
}

.arrow{
	width: 200px;
	height: 20px;
	line-height: 20px;
	padding-left: 20px;
	display: inline-block;
}

div.arrow > sapn{
	margin-left: 10px;
}

.arrow_down{
	background: url("../images/arrow_drop_down.png") no-repeat left bottom;
}

.arrow_right{
	background: url("../images/arrow_drop_right.png") no-repeat left bottom;
}