.SubMenu
{
	width: 95%;
	margin: 20px 0;
	font-size: 14px;
	font-weight: bold;
}

.SubMenu_Header
{
	margin: 0;
	border-bottom: 1px dashed #000;
	padding-left: 10px;
}

.SubMenu_active
{
	background: #fff;
}

.plus{
	margin: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #4169e1;
}

.SildeMenu_Label
{
	font-size: 15px;
	font-weight: bold;
}

.nav
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav > li
{
	line-height: 30px;
	padding-left: 25px;
	border-bottom:1px solid #c0d5df;
}

.SubMenu_Item > div
{
	margin-left: 15px;
}

.SubMenu_Item > div > a
{
	text-decoration: none
}

.sidemenuon{
	background: #b9e0f5; /* Old browsers */
	background: -moz-linear-gradient(top, #b9e0f5 0%, #94c5df 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b9e0f5), color-stop(100%,#94c5df)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b9e0f5 0%,#94c5df 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b9e0f5 0%,#94c5df 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b9e0f5 0%,#94c5df 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b9e0f5 0%,#94c5df 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9e0f5', endColorstr='#94c5df',GradientType=0 ); /* IE6-9 */
	
	border-bottom:1px solid #8eacbe;
	box-shadow: 0 1px 0px rgba(243, 248, 250, 1);
	
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}