.explain{
	margin: 15px 0px;
	padding-bottom: 20px;
	border-bottom: dotted 1px #CCCCCC;
	background:url(../../images/service/alert.png) left top no-repeat;
}

.explain p{
	font-size: 14px;
	margin: 0;
	padding: 0px 0px 5px 80px;
}

.explain ul{
	margin: 0px 0px 0px 90px;
	padding: 0px 0px 0px 20px;
	line-height: 25px;
	list-style-type: decimal;
}


.marker{
	color: #FF0000;
	display: initial;
}

.flash_success{
	width: 95%;
}

.checked_icon{
	width: 128px;
	height: 128px;
	background:url(../../images/service/ok_icon.png);
	float: left;
}

.checked_label{
	width: 500px;
	line-height: 30px;
	margin: 0 20px;
	font-size: 20px;
	float: left;
}

.button_div{
	width: 200px;
	margin: 30px auto;
}

#flash_success_btn{
	width: 95%;
	font-weight: bold;	
	
}

.ui-button-text{
	margin: 20px 0;
}
