.content_header{
	margin-bottom: 20px;
}

.content_title
{
	width: 390px;
	font-size: 20px;
	font-weight: 700;

}

.content_title_line{
	height: 3px;
	float: left;
}

#title_line_1{
	width: 390px;
	
	background: url(../images/title_lineall.gif) 0 0 repeat-x;
}

#title_line_2{
	width:  10px;
	background: url(../images/title_lineall.gif) 0 -5px no-repeat;
}

#title_line_3{
	width: 10px;
	background: url(../images/title_lineall.gif) 0 -10px repeat-x;
}