@charset "utf-8";

.bluetab-widget {
	margin:15px 0;
}

.bluetab-widget .blue-tabs{
	border-bottom: 1px solid #b9d3e0;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.bluetab-widget .blue-tabs li{
	display:block;
	display:inline;
	float:left;
}

.bluetab-widget .blue-tabs > li > a {
	padding-top: 5px;
	padding-bottom: 0px;
}


.bluetab-widget .blue-tabs .tab_on a {
	border-bottom-color: transparent;
}

.blue-tabs{
	border-bottom: 1px solid #b9d3e0;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.bluetab-widget .blue-tabs .tab_off{
	border-bottom: 1px solid transparent;
	float: left;
	cursor: pointer;

	margin-right: 5px;
	margin-bottom:-1px;
	/*    padding: 0 15px;*/

	border-left:1px solid #c3dbe7;
	border-right:1px solid #c3dbe7;
	border-top:1px solid #c3dbe7;
	border-radius: 7px 7px 0 0;
	box-shadow: 0 1px 0px rgba(255, 255, 255, 0.69) inset;
	color: #6499B7;
	display: block;
	font-size: 15px;
	overflow: visible;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);

	background: #e1eef5; /* Old browsers */
	background: -moz-linear-gradient(top,  #e1eef5 0%, #e1eef5 0%, #e1eef5 75%, #c2d7e4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1eef5), color-stop(0%,#e1eef5), color-stop(70%,#e1eef5), color-stop(100%,#c2d7e4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e1eef5 0%,#e1eef5 0%,#e1eef5 75%,#c2d7e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e1eef5 0%,#e1eef5 0%,#e1eef5 75%,#c2d7e4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e1eef5 0%,#e1eef5 0%,#e1eef5 75%,#c2d7e4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e1eef5 0%,#e1eef5 0%,#e1eef5 75%,#c2d7e4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1eef5', endColorstr='#c2d7e4',GradientType=0 ); /* IE6-9 */

	text-align:center;
	line-height:29px;
	padding:0px;
	width:110px;
	height:29px;
}

.bluetab-widget .blue-tabs .tab_off a{
	color: #6499B7;
}

.bluetab-widget .blue-tabs .tab_off a:hover{
	color: #6499B7;
}

.bluetab-widget .blue-tabs .tab_on{
	border-left:1px solid #b9d3e0;
	border-right:1px solid #b9d3e0;
	border-top:1px solid #b9d3e0;
	border-radius: 7px 7px 0 0;
	color: #2e2e2e;
	display: block;
	font-size: 15px;
	overflow: visible;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	text-align:center;
	line-height:29px;
	padding:0px;
	width:110px;
	height:29px;
	border-bottom: 1px solid white;
	margin-right: 5px;
	margin-bottom:-1px;
}

.bluetab-widget .blue-tabs .tab_on :hover{	
	border-left:1px solid #c1e2f2;
	border-right:1px solid #c1e2f2;
	border-top:1px solid #c1e2f2;
	border-radius: 7px 7px 0 0;
	box-shadow: 0 1px 0px rgba(255, 255, 255, 0.69) inset;
	color: #3d8cdd;
	text-decoration:underline;
	display: block;
	font-size: 15px;
	overflow: visible;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);

	background: #e6f6ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #e6f6ff 0%, #e6f6ff 0%, #e6f6ff 75%, #cde7f7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6f6ff), color-stop(0%,#e6f6ff), color-stop(70%,#e6f6ff), color-stop(100%,#cde7f7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e6f6ff 0%,#e6f6ff 0%,#e6f6ff 75%,#cde7f7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e6f6ff 0%,#e6f6ff 0%,#e6f6ff 75%,#cde7f7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e6f6ff 0%,#e6f6ff 0%,#e6f6ff 75%,#cde7f7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e6f6ff 0%,#e6f6ff 0%,#e6f6ff 75%,#cde7f7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f6ff', endColorstr='#cde7f7',GradientType=0 ); /* IE6-9 */

	text-align:center;
	line-height:29px;
	padding:0px;
	width:110px;

	height:29px;
}

.blue-tabs:after {
	clear:both;
	content: "";
	display: table;
}
