.IndustrySliderMenu{
	width: 100%;
}

.IndustrySliderMenu_Header{
	border-bottom: 1px dashed #000000;
}

.IndustryTable{
	
}

.IndustryTable tr{
	height: 35px;
}

.IndustryTable td{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
}

.IndustryTableTd{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #aaa;
}

.toggle{

}

.icon_sideemenu_more{
	background: url("../images/More.png") no-repeat;
	width: 16px;
	height: 16px;
}

.icon_sideemenu_less{
	background: url("../images/Less.png") no-repeat;
	width: 16px;
	height: 16px;
}

.SubIndustryTable{
	margin-left: 30px;
}

.SubIndustryTable tr{
	height: 25px;
}

.SubIndustryTable td {
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

.SubIndustryTable td a{
	text-decoration: none;
}

.SubIndustry_active{
	background: url("../images/arrow-right.png") no-repeat;
	width: 16px;
	height: 16px;
}

.sidemenuon{
	background: #b9e0f5; /* Old browsers */
	background: -moz-linear-gradient(top, #b9e0f5 0%, #94c5df 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b9e0f5), color-stop(100%,#94c5df)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b9e0f5 0%,#94c5df 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b9e0f5 0%,#94c5df 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b9e0f5 0%,#94c5df 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b9e0f5 0%,#94c5df 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9e0f5', endColorstr='#94c5df',GradientType=0 ); /* IE6-9 */
	
	border-bottom:1px solid #8eacbe;
	box-shadow: 0 1px 0px rgba(243, 248, 250, 1);
	
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}