.UserTable{
	width: 100%;
	margin: 10px 0;
	border: 1px solid #ddd;
	border-collapse: separate;
	/*border-bottom: 0px;*/
	border-radius: 4px;
}

.header{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,d2ebf9+100;Blue+3D+%2312 */
	background: #feffff; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: -webkit-linear-gradient(#feffff 0%, #d2ebf9 100%);
	background: -o-linear-gradient(#feffff 0%, #d2ebf9 100%);
	background: linear-gradient(#feffff 0%, #d2ebf9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
}

.UserTable td{
	margin: 0 5px;
	padding-bottom:0;
	text-align: center;
}

.explanation{
	font-size:12px; 
	color:red;
	padding-top:0;
	text-align: left;
}

.errorMessage{
	text-align: left;
}
