.btn_blue_send{
	height:40px;
	
	border: 1px solid #237edc;
    border-radius: 5px 5px 5px 5px;
    box-shadow:  0 0 1px rgba(0,0,0,0.3), 0 1px 0px rgba(255, 255, 255, 0.2) inset;
    color: #ffffff;
    display: block;
    font-size: 15px;
    overflow: visible;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	
	background: rgb(74,154,236); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(74,154,236,1) 0%, rgba(51,123,197,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(74,154,236,1)), color-stop(100%,rgba(51,123,197,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(74,154,236,1) 0%,rgba(51,123,197,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(74,154,236,1) 0%,rgba(51,123,197,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(74,154,236,1) 0%,rgba(51,123,197,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(74,154,236,1) 0%,rgba(51,123,197,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a9aec', endColorstr='#337bc5',GradientType=0 ); /* IE6-9 */
	
	text-align:center;
	line-height:40px;
	padding:0px;
	cursor:pointer;
}
.btn_blue_send:hover{
	height:40px;
	
	border: 1px solid #237edc;
    border-radius: 5px 5px 5px 5px;
    box-shadow:  0 0 1px rgba(0,0,0,0.3), 0 1px 0px rgba(255, 255, 255, 0.2) inset;
    color: #ffffff;
    display: block;
    font-size: 15px;
    overflow: visible;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	
	background: rgb(77,173,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(77,173,255,1) 0%, rgba(30,125,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,173,255,1)), color-stop(100%,rgba(30,125,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(77,173,255,1) 0%,rgba(30,125,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(77,173,255,1) 0%,rgba(30,125,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(77,173,255,1) 0%,rgba(30,125,222,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(77,173,255,1) 0%,rgba(30,125,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dadff', endColorstr='#1e7dde',GradientType=0 ); /* IE6-9 */
	
	text-align:center;
	line-height:40px;
	padding:0px;
	cursor:pointer;
}
.btn_blue_send:active{
	height:40px;
	
	border: 1px solid #237edc;
    border-radius: 5px 5px 5px 5px;
    box-shadow:  0 0 1px rgba(0,0,0,0.3), 0 1px 3px rgba(0, 0, 0, 0.3) inset;
    color: #ffffff;
    display: block;
    font-size: 15px;
    overflow: visible;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	
	background: rgb(77,173,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,125,222,1) 0%, rgba(71,160,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,125,222,1)), color-stop(100%,rgba(71,160,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,125,222,1) 0%,rgba(71,160,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,125,222,1) 0%,rgba(71,160,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,125,222,1) 0%,rgba(71,160,249,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,125,222,1) 0%,rgba(71,160,249,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dadff', endColorstr='#1e7dde',GradientType=0 ); /* IE6-9 */
	
	text-align:center;
	line-height:40px;
	padding:0px;
	cursor:pointer;
}

.btn_blue_send a{
	color: #ffffff;
	text-decoration: none;
}
.btn_blue_send a:hover{
	color: #ffffff;
	text-decoration: none;
}

.btn_red_send{
	height:40px;
	
	border: 1px solid #ff4500;
    border-radius: 5px 5px 5px 5px;
    box-shadow:  0 0 1px rgba(0,0,0,0.3), 0 1px 0px rgba(255, 255, 255, 0.2) inset;
    color: #ffffff;
    display: block;
    font-size: 15px;
    overflow: visible;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

	text-align:center;
	line-height:40px;
	padding:0px;
	cursor:pointer;
}
.btn_red_send:hover{
	height:40px;
	
	border: 1px solid #dc143c;
    border-radius: 5px 5px 5px 5px;
    box-shadow:  0 0 1px rgba(0,0,0,0.3), 0 1px 0px rgba(255, 255, 255, 0.2) inset;
    color: #ffffff;
    display: block;
    font-size: 15px;
    overflow: visible;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	
	background: #f2825b; /* Old browsers */
	background: -moz-linear-gradient(top, #f2825b 0%, #e55b2b 50%, #f07146 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f2825b 0%,#e55b2b 50%,#f07146 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=0 ); /* IE6-9 */
	text-align:center;
	line-height:40px;
	padding:0px;
	cursor:pointer;
}
.btn_red_send:active{
	height:40px;
	
	border: 1px solid #ff4500;
    border-radius: 5px 5px 5px 5px;
    box-shadow:  0 0 1px rgba(0,0,0,0.3), 0 1px 3px rgba(0, 0, 0, 0.3) inset;
    color: #ffffff;
    display: block;
    font-size: 15px;
    overflow: visible;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

	text-align:center;
	line-height:40px;
	padding:0px;
	cursor:pointer;
}

.btn_red_send a{
	color: #ffffff;
	text-decoration: none;
}

a:active {
	color: #ffffff;
	text-decoration: none;
}

.btn_red_send a:hover{
	color: #ffffff;
	text-decoration: none;
}