body
{
	margin: 0;
	padding: 0;
	/*background: #EFEFEF;*/
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}

.span2
{
	width: 128px;
	border-radius: 3px;
	font-size: 13px;
}

#header
{
	line-height: 100px;
	margin: 0;
	padding: 0;
	background-color: #2D2E2F;
	/*border-top: 3px solid #C9E0ED;*/
}

#top_logo{
	width: 900px;
	height: 80px;
	margin: 0 auto;
	padding: 10px 20px;
	text-align: center;
	font-size: 200%;
	background: url("../images/Baoyang_logo.png") no-repeat;
	/*height: 16px;*/
}

.main_container980
{
	width: 980px;
	margin: 0 auto;
}

#breadcrum
{
	height: 20px; 
	display: block; 
	margin-bottom: 5px;
}

.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 0;
}

.breadcrumbs a
{
	text-decoration: none;
}

.breadcrumbs span
{

}

#main_content
{
	/*float: left;*/
	width: 100%;
	height: auto;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 #ccc;
	background: url(../images/bg_sidemenu.gif) 0 0 repeat-y;
}

#left_content
{
	width: 140px;
	height: auto;
	padding: 10px 0;
	background: url(../images/bg_sidemenu.gif) 0 0 repeat-y;
	float: left;
}

#right_content
{
	width: 800px;
	height: auto;
    padding: 20px;
    background: white;
    float: left;
}

#content
{
	font-weight: bold;
}

.content_body
{
	padding-top:5px; 
	text-align:left; 
	font-size:10px;
}

#footer
{
	background-color: #2D2E2F;
	padding: 10px;
	text-align: center;
	font-size: 0.8em;
	color: #777;
}

.left{
	float: left;
}

.right: {
	float: right;
}

.SildeMenu_Label
{
	font-size: 15px;
	font-weight: bold;
}

/**/
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]+label {    
    background: url('../images/uncheck.png') no-repeat;
    height:17px;
    padding-left: 18px;
}
input[type="checkbox"]:checked + label {
    background: url('../images/check.png')  no-repeat;
    height:17px;
}