#logo{
	margin: 0 auto;
	width: 200px;
}

.about_describe
{
	margin: 10px 0 ;
}

.about_describe > h3
{
	margin-bottom: 10px;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
}

.about_describe > p
{
	font-size: 14px;
	text-align: justify;
	text-justify:inter-ideograph;
}

.Str_first
{
	font-size: 25px;
	font-weight: bold;
	display: initial;
}

#Str_first_1
{
	color: #ff4500;
}

#Str_first_2
{
	color: #0000ff;
}

#Str_first_3
{
	color: #ffa500;
}