.colorgradient
{
	height:80px;
	line-height:80px;
	text-align:center;
	color: #ffa500;
	font-size: 40px;
	font-weight: 900;
	font-style: italic;
	background: #fefcea; /* Old browsers */
	background: -moz-linear-gradient(top, #f1da36 9%, #fefcea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(9%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1da36 9%,#fefcea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1da36 9%,#fefcea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1da36 9%,#fefcea 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f1da36 9%,#fefcea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fefcea',GradientType=0 ); /* IE6-9 */
}

.target_ul
{
	padding: 0;
	list-style-type: none;
}

.target_ul li
{
	font-size: 25px;
	font-weight: bold;
	margin: 20px 0;
	font-size: 16px;
}

.Str_first
{
	font-size: 25px;
	font-weight: bold;
	display: initial;
}

#Str_first_1
{
	color: #ff4500;
}

#Str_first_2
{
	color: #0000ff;
}

#Str_first_3
{
	color: #ffa500;
}

#Str_first_4
{
	color: #db7093;
}